div.row {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

button.btn-info {
    float: right;
}

a#mailtoLink {
    color: gray;
}

footer {
    clear: both;
    text-align: center;
    width: 100%;
	padding: 5px;
	background-color: #262626;
	color: #ffffff;
}