body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#background {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    stroke: slategray;
    stroke-dasharray: 1480, 2040; /*only show stroke at top*/
}

#logo {
    position: relative;
    width: 17%;
    margin: auto;
}

.icons {
    position: relative;
    margin: auto;
    width: 50%;
    top: 12px;
    display: flex;
    justify-content: space-evenly;
}

#web, #bt, #set {
    width: 10%;
    stroke-width: 7px;
    text-align: center;
}

#animateLogo {
    position: relative;
    margin: auto;
    width: 15%;
    height: 50px;
    top: 20px;
    background-color: #FF5500;
    color: #FFFFFF;
    border: none;
    border-radius: 50px;
    font-size: large;
}

p#desc {
    position: relative;
    margin: auto;
}

/*specifiying animations and keyframes*/
#background {
    animation-name: wavestroke;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

#web, #bt, #set {
    animation-name: icons;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.logoPath {
    stroke: #ff0000;
    stroke-width: 5px;
}

/*vector background design stroke animation*/
@keyframes wavestroke {
    0% {
        stroke-width: 0px;
    }

    100% {
        stroke-width: 10px;
    }
}

/*icons stroke color animation animation*/
@keyframes icons {
    0% {
        stroke: #0099FF;
        fill: #0099FF;
    }
    15% {
        stroke: #5000CA;
        fill: #5000CA;
    }
    30% {
        stroke: #FF1111;
        fill: #FF1111;
    }
    50% {
        stroke: #FF5500;
        fill: #FF5500;
    }
    65% {
        stroke: #FFD700;
        fill: #FFD700;
    }
    85% {
        stroke: #00CBA9;
        fill: #00CBA9;
    }
    100% {
        stroke: #0099FF;
        fill: #0099FF;
    }
}